<h1>公式カクテル一覧</h1>
<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-md-4">
      <%= render partial: "cocktail-card", locals: { cocktail: cocktail } %>
    </div>
  <% end %>
</div>