<!DOCTYPE html>
<html>
<head>
  <title>CocktailSuggestionApp</title>
  <%= csrf_meta_tags %>
  <
</head>

<body>
  <!-- Header (Include the header partial) -->
  <%= render 'layouts/header' %>

  <!-- Main Content -->
  <%= yield %> <!-- This is where the content of the page will go -->

  <!-- Footer (Include the footer partial) -->
  <%= render 'layouts/footer' %>
</body>
</html>